div{
    width: auto;
    height: auto;
    background-color: lightblue;
    color: black;
    margin-bottom: 20px;
    padding: 10%
}

header h1{
    color: black;
    font-size: 4em;
    margin: auto;
    margin-left: 20px;
    width: 45%;
    background-color:yellow;
    float: right;
    justify-content: center;
}

body{
    background-color: green;
}

footer{
    position: center;
   ;
}
